*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white : white;
}
 /* List Card Styles */
.listCard {
    margin: 5px auto;
    text-align: center;
    width: 90vw;
    height: 200px;
    padding: 20px;
    transition: 0.5s;
}

.listCard:hover {

    background-color: rgb(124, 111, 92);
}

.listCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* List styles  */

@media screen and (min-width: 1024px){ 

    .listCard {
        width: 40%;
    }

    .listCardWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
}

